# Análisis de Datos en el Fútbol: Descubriendo el Rendimiento de Jugadores y Equipos

## Introducción

En el mundo del fútbol, el análisis de datos ha cobrado una gran relevancia en los últimos años. La información obtenida a través del análisis de diversas variables puede proporcionar insights valiosos sobre el desempeño de los jugadores y equipos. 

En este contexto, el presente conjunto de datos ofrece una amplia variedad de información que captura diferentes aspectos del juego. 

En este análisis, nos dirigimos a entrenadores, analistas y aficionados del fútbol interesados en comprender y utilizar estos datos para evaluar el rendimiento de los jugadores y equipos en diversos aspectos del juego.

## El Conjunto de Datos

El conjunto de datos que estamos analizando contiene una amplia variedad de variables que capturan diferentes aspectos del juego de fútbol. Estas variables incluyen goles marcados, precisión de pases, regates exitosos, habilidades defensivas, edad, posición en el campo, altura y más. Esta información es esencial para evaluar el rendimiento de los jugadores y equipos en diferentes aspectos del juego.

## Preguntas e Hipótesis

Antes de sumergirnos en el análisis, estableceremos algunas preguntas e hipótesis que podríamos responder a través de los datos:

1. ¿Cuáles son los jugadores más efectivos en términos de goles marcados? ¿Existen diferencias significativas entre los distintos equipos en cuanto a la producción de goles?

2. ¿Existe una relación entre la precisión de los pases de un jugador y su capacidad para crear oportunidades de gol para su equipo?

3. ¿Cuál es el porcentaje de éxito de los regates realizados por los jugadores? ¿Algunos jugadores destacan por su habilidad para eludir a los defensores?

4. ¿Qué jugadores tienen la mejor capacidad defensiva en términos de bloqueo de tiros y recuperación de balones?

5. ¿Existe alguna correlación entre la edad de los jugadores y su rendimiento en el campo?

6. ¿Hay diferencias significativas en el rendimiento de los jugadores en función de su posición en el campo (delantero, centrocampista, defensor, portero)?

7. ¿Existe alguna relación entre la altura de los jugadores y su capacidad para ganar duelos aéreos?

8. ¿Cuál es el equipo con el mejor desempeño general en términos de todas las variables analizadas?

Estas preguntas guiarán nuestro análisis y nos ayudarán a obtener información relevante sobre el rendimiento de jugadores y equipos en el fútbol.

## Objetivo

El objetivo de este análisis es utilizar técnicas de análisis de datos para examinar el rendimiento de jugadores y equipos de fútbol en función de diversas variables. Estas variables incluyen goles marcados, precisión de pases, regates exitosos, habilidades defensivas, edad, posición en el campo, altura y otras relevantes. Buscaremos identificar patrones y relaciones significativas que puedan proporcionar insights valiosos para la toma de decisiones estratégicas y operativas en la industria del fútbol.

## Contexto Comercial y Problema a Abordar

En el contexto comercial, nuestro objetivo es proporcionar información y análisis útiles para actores dentro de la industria del fútbol, como clubes, directores técnicos y agentes de jugadores. Abordamos el problema de comprender y evaluar el rendimiento de los jugadores y equipos de fútbol para facilitar la identificación de talentos, la selección de jugadores y la toma de decisiones estratégicas.

## Problema Comercial

El problema comercial que abordamos es la necesidad de comprender y evaluar el rendimiento de los jugadores y equipos de fútbol en función de diversas variables. Esta información es fundamental para tomar decisiones informadas en la industria del fútbol y puede tener un impacto significativo en la identificación de talentos, la formación de equipos competitivos y el desarrollo de estrategias ganadoras.

## Contexto Analítico

En el contexto analítico, utilizaremos técnicas de análisis de datos para explorar y comprender los patrones, tendencias y relaciones existentes en los datos recopilados. Utilizaremos herramientas y técnicas de programación en Python para realizar la exploración de datos (EDA) de manera detallada. Esto incluirá cálculos estadísticos, visualizaciones gráficas y otras técnicas exploratorias para comprender mejor el comportamiento de los jugadores y equipos en función de las variables analizadas.

A través de este análisis, buscamos brindar insights valiosos para los actores involucrados en la industria del fútbol y ayudarles a tomar decisiones más informadas y estratégicas.

¡Comencemos con la exploración de datos (EDA)! En el próximo paso, cargaremos el conjunto de datos y procederemos con el análisis detallado de las variables relevantes.

## Datos de Interes

In [6]:
# import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ruta_archivo = '../DataSets/2022-2023FootballPlayerStatsCorr.csv'
#df = pd.read_csv(ruta_archivo, encoding='ISO-8859-1', delimiter=';')
# Leer el archivo CSV con el parámetro na_values
df = pd.read_csv(ruta_archivo, encoding='ISO-8859-1', delimiter=',', na_values='?')

# Ver las primeras filas del dataset
df.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,20,19,...,0.17,2.54,0.51,0.0,0.0,0.00,4.86,0.34,1.19,22.2
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,22,22,...,0.05,0.18,1.59,0.0,0.0,0.00,6.64,2.18,1.23,64.0
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,14,8,...,0.00,1.05,1.40,0.0,0.0,0.00,8.14,0.93,1.05,47.1
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,20,20,...,0.00,0.35,0.80,0.0,0.0,0.05,6.60,0.50,0.50,50.0
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,30,1993,15,15,...,0.00,0.23,2.02,0.0,0.0,0.00,6.51,0.31,0.39,44.4

## Analisis Exploratorio de Datos (EDA)

In [7]:
# Obtener información sobre el conjunto de datos
df.info()

# Calcular estadísticas descriptivas
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2689 entries, 0 to 2688
Columns: 124 entries, Rk to AerWon%
dtypes: float64(112), int64(7), object(5)
memory usage: 2.5+ MB

,Rk,Age,Born,MP,Starts,Min,90s,Goals,Shots,SoT,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
count,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,...,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000,2689.000000
mean,1345.000000,26.011157,1996.155820,11.833023,8.476013,760.451097,8.450465,1.027520,1.245787,0.411261,...,0.204697,1.661636,0.990569,0.009249,0.015173,0.003142,4.951967,1.312064,1.497356,43.583600
std,776.391761,4.446259,4.450108,6.864278,6.994383,591.094260,6.567484,2.013714,1.424619,0.754716,...,0.552376,2.319000,1.235965,0.043781,0.077399,0.022607,2.901833,1.579539,1.830391,26.673092
min,1.000000,15.000000,1981.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,673.000000,23.000000,1993.000000,5.000000,2.000000,194.000000,2.200000,0.000000,0.260000,0.000000,...,0.000000,0.000000,0.300000,0.000000,0.000000,0.000000,3.330000,0.330000,0.550000,27.600000
50%,1345.000000,26.000000,1996.000000,13.000000,7.000000,684.000000,7.600000,0.000000,0.860000,0.180000,...,0.000000,0.760000,0.830000,0.000000,0.000000,0.000000,5.000000,0.930000,1.100000,46.400000
75%,2017.000000,29.000000,2000.000000,18.000000,14.000000,1245.000000,13.800000,1.000000,1.850000,0.590000,...,0.210000,2.500000,1.320000,0.000000,0.000000,0.000000,6.270000,1.790000,1.830000,60.000000
max,2689.000000,41.000000,2007.000000,23.000000,23.000000,2070.000000,23.000000,25.000000,15.000000,10.000000,...,10.000000,30.000000,20.000000,0.870000,2.000000,0.500000,30.000000,25.000000,30.000000,100.000000